@model IEnumerable<Casadeshow.Models.Compra>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    

@{
    ViewData["Title"] = "Eventos";
}

<div style="text-align:center;">
    <h1>Histórico de compras de @User.FindFirst("NomeUser").Value</h1>
</div>

    <table class="table">
    <thead>
        <tbody>
            <br>
            <div class="row">
            @foreach (var item in Model) 
            {
                <div class="col-4 mb-3">
                <div class="card border-primary" style="width: 17rem;" >
                    <img class="card-img-center"  src='@Url.Action("PegarImagem", "Evento", new {id = item.Evento.EventoId})'  alt="Card image cap" height="250px">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">@Html.DisplayFor(modelItem => item.Evento.Nome) </h5>
                        <p class="card-text" style="text-align: center;">Data: <a style="color: firebrick;">@Html.DisplayFor(modelItem => item.Data)</a></p> 
                        <p class="card-text" style="text-align: center;">Local: <a style="color: firebrick;"> @Html.DisplayFor(modelItem => item.Evento.CasaDeShow.Nome)</a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Compra número: @Html.DisplayFor(modelItem => item.CompraId)</li>
                        <li class="list-group-item">Preço pago: R$@Html.DisplayFor(modelItem => item.Total)</li>
                        <li class="list-group-item">Data da compra: @Html.DisplayFor(modelItem => item.Evento.Data)</li>
                    </ul>
                    <div class="centralizar2">
                        <img src="/images/ticket.png" width="200px">
                    </div>
                </div>
                </div>
            }
            </div>
        </tbody>
        
    </thead>
</table>